<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
  <c-container>
    <h1> Forgot Password</h1>
  <p class="mb-4">
    Enter your Email Id and you Will get the instarction for in Account details
  </p>
    <c-row class="justify-content-center ">
      <form [formGroup]="forgotForm">
        <div class="form-group">
          <label for="email">Email : </label>
          <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div class="text-center mt-2">
          <button type="submit" type="button" class="btn btn-primary" [disabled]="forgotForm.invalid" [class.disaled]="forgotForm.invalid" (click)="login()">Login</button>
          <button routerLink="/login" type="submit" type="button" class="btn btn-info">Cancel</button>
        </div>
      </form>
    </c-row>
  </c-container>
</div>
